version: '3'
services:

  fast_api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: uvicorn server.api.main:app --host 0.0.0.0 --port 8080
    volumes:
      - ./telemt.toml:/etc/telemt.toml:ro
    ports:
      - "8080:8080"
    restart: on-failure

  telemt:
    image: whn0thacked/telemt-docker:latest
    container_name: telemt
    restart: unless-stopped
    environment:
      RUST_LOG: "info"
    volumes:
      - ./telemt.toml:/etc/telemt.toml:ro
    ports:
      - "443:443/tcp"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    read_only: true
    tmpfs:
      - /tmp:rw,nosuid,nodev,noexec,size=16m
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 256M
